<%- include('../components/_header.ejs') %>
    <div class="container mt-5">
        <h1><%= title %> </h1>
       <table class="table">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>メール</th>
                <th>年齢</th>
                <th>登録日</th>
            </tr>
        </thead>
        <% for (const item in content) { %>
            <tr>
                <% let obj = content[item] %> 
                <td><%= obj.id %></td>
                <td><%= obj.name %></td>
                <td><%= obj.mail %></td>
                <td><%= obj.age %></td>
                <td><%= obj.createdAt %></td>
            </tr>
        <% } %>
       </table>
    </div>    
<%- include('../components/_footer.ejs') %>